.box {
    padding: 20px 20px 12px 20px;
    background-color: #d6d6d5;
    border-radius: 20px;
    color: #6b6b6b;
}

.box svg {
    font-size: 33px;
}

.box .content {
    display: flex;
    justify-content: space-between;
}

.box .content h3 {
    margin: 0;
}

.box .description span {
    margin-top: 10px;
    display: block;
    font-weight: 500;
}